@import './variables.scss';

.about-section {
    // display: none;
    background-color: $primaryColor;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    width: 100%;

    .about-me {
        margin: 0 150px;
    }
}