@import './variables.scss';

.contact {
	border-top: 2px solid #adadad;
	margin: 0 150px;
	padding: 25px;
	.contact-container {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;

		.contact-icons {
			padding: 0 40px;
			color: #adadad;
			&:hover {
				color: #29d3d3;
				cursor: pointer;
			}
		}
	}
}
