@import './variables.scss';

.badge {
	margin: 0 auto;
	display: flex;
	padding: 1rem;

	@media (max-device-width: $small-screen) {
		padding: .25rem;
	}

	.badge-container {
		background-color: whitesmoke;
		border-radius: 0.25rem;
		box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		flex-shrink: 2;
		max-width: 580px;
		min-width: 280px;

		@media (max-device-width: 40rem) {
			max-width: 295px;
		}
		@media (max-device-width: 56rem) {
			max-width: 197px;
		}

		&:hover {
			.badge-image {
				filter: contrast(100%);
			}
		}

		.badge-image {
			object-fit: fill;
			width: 100%;
			//max-width: 580px;
			//min-width: 340px;
			//height: 400px;
			object-position: center;
			filter: contrast(70%);
			transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
			//@media (max-device-width: 40rem) {
			//	max-height: 295px;
			//}
			//@media (max-device-width: 56rem) {
			//	max-height: 197px;
			//}

		}

		.badge-body {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			padding: 1rem;

			.badge-title {
				font-weight: 300;
				font-size: 1.25rem;
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			.badge-text {
				flex: 1 1 auto;
				font-size: 0.875rem;
				line-height: 1.5;
				margin-bottom: 1.25rem;
			}

			.badge-button {
				display: block;
				width: 100%;
				background-color: whitesmoke;
				border: 1px solid #cccccc;
				color: $secondaryColor;
				text-transform: lowercase;
				padding: 15px;
				font-size: 0.875rem;
				text-transform: none;
				transition: filter 0.75s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

				&:hover {
					cursor: pointer;
					filter: contrast(70%);
					color: $primaryColor;
				}
			}
		}
	}
}
